infra/GHCN_Pipeline.json
[
    {
        "name": "Check For Updates",
        "type": "AzureFunctionActivity",
        "dependsOn": [],
        "policy": {
            "timeout": "0.12:00:00",
            "retry": 0,
            "retryIntervalInSeconds": 30,
            "secureOutput": false,
            "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
            "headers": {},
            "functionName": "UpdatedDatasets?limit=1",
            "method": "GET"
        },
        "linkedServiceName": {
            "referenceName": "ghcn_function",
            "type": "LinkedServiceReference"
        }
    },
    {
        "name": "Download From NOAA",
        "type": "ForEach",
        "dependsOn": [
            {
                "activity": "Check For Updates",
                "dependencyConditions": [
                    "Succeeded"
                ]
            }
        ],
        "userProperties": [],
        "typeProperties": {
            "items": {
                "value": "@json(activity('Check For Updates').output.Response)",
                "type": "Expression"
            },
            "activities": [
                {
                    "name": "Download",
                    "type": "Copy",
                    "dependsOn": [],
                    "policy": {
                        "timeout": "0.12:00:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                    },
                    "userProperties": [],
                    "typeProperties": {
                        "source": {
                            "type": "HttpSource",
                            "httpRequestTimeout": "00:01:40"
                        },
                        "sink": {
                            "type": "BinarySink",
                            "storeSettings": {
                                "type": "AzureBlobStorageWriteSettings",
                                "copyBehavior": "FlattenHierarchy"
                            }
                        },
                        "enableStaging": false
                    },
                    "inputs": [
                        {
                            "referenceName": "ghcn_by_year",
                            "type": "DatasetReference",
                            "parameters": {
                                "year": {
                                    "value": "@item()",
                                    "type": "Expression"
                                }
                            }
                        }
                    ],
                    "outputs": [
                        {
                            "referenceName": "ghcn_raw",
                            "type": "DatasetReference",
                            "parameters": {}
                        }
                    ]
                }
            ]
        }
    },
    {
        "name": "Get Metadata1",
        "type": "GetMetadata",
        "dependsOn": [
            {
                "activity": "Download From NOAA",
                "dependencyConditions": [
                    "Succeeded"
                ]
            }
        ],
        "policy": {
            "timeout": "0.12:00:00",
            "retry": 0,
            "retryIntervalInSeconds": 30,
            "secureOutput": false,
            "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
            "dataset": {
                "referenceName": "ghcn_raw",
                "type": "DatasetReference",
                "parameters": {}
            },
            "fieldList": [
                "childItems"
            ],
            "storeSettings": {
                "type": "AzureBlobStorageReadSettings",
                "recursive": true,
                "enablePartitionDiscovery": false
            },
            "formatSettings": {
                "type": "BinaryReadSettings",
                "compressionProperties": null
            }
        }
    },
    {
        "name": "Extract File",
        "type": "ForEach",
        "dependsOn": [
            {
                "activity": "Get Metadata1",
                "dependencyConditions": [
                    "Succeeded"
                ]
            }
        ],
        "userProperties": [],
        "typeProperties": {
            "items": {
                "value": "@activity('Get Metadata1').output.childItems",
                "type": "Expression"
            },
            "activities": [
                {
                    "name": "Extract",
                    "type": "Copy",
                    "dependsOn": [],
                    "policy": {
                        "timeout": "0.12:00:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                    },
                    "userProperties": [],
                    "typeProperties": {
                        "source": {
                            "type": "DelimitedTextSource",
                            "storeSettings": {
                                "type": "AzureBlobStorageReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "DelimitedTextReadSettings",
                                "compressionProperties": null
                            }
                        },
                        "sink": {
                            "type": "DelimitedTextSink",
                            "storeSettings": {
                                "type": "AzureBlobStorageWriteSettings"
                            },
                            "formatSettings": {
                                "type": "DelimitedTextWriteSettings",
                                "quoteAllText": true,
                                "fileExtension": ".txt"
                            }
                        },
                        "enableStaging": false,
                        "translator": {
                            "type": "TabularTranslator",
                            "typeConversion": true,
                            "typeConversionSettings": {
                                "allowDataTruncation": true,
                                "treatBooleanAsNumber": false
                            }
                        }
                    },
                    "inputs": [
                        {
                            "referenceName": "ghcn_compressed",
                            "type": "DatasetReference",
                            "parameters": {
                                "filename": {
                                    "value": "@item().name",
                                    "type": "Expression"
                                }
                            }
                        }
                    ],
                    "outputs": [
                        {
                            "referenceName": "ghcn_extract",
                            "type": "DatasetReference",
                            "parameters": {}
                        }
                    ]
                }
            ]
        }
    },
    {
        "name": "Get Metadata2",
        "type": "GetMetadata",
        "dependsOn": [
            {
                "activity": "Extract File",
                "dependencyConditions": [
                    "Succeeded"
                ]
            }
        ],
        "policy": {
            "timeout": "0.12:00:00",
            "retry": 0,
            "retryIntervalInSeconds": 30,
            "secureOutput": false,
            "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
            "dataset": {
                "referenceName": "ghcn_extract",
                "type": "DatasetReference",
                "parameters": {}
            },
            "fieldList": [
                "childItems"
            ],
            "storeSettings": {
                "type": "AzureBlobStorageReadSettings",
                "recursive": true,
                "enablePartitionDiscovery": false
            },
            "formatSettings": {
                "type": "DelimitedTextReadSettings",
                "compressionProperties": null
            }
        }
    },
    {
        "name": "Read File",
        "type": "ForEach",
        "dependsOn": [
            {
                "activity": "Get Metadata2",
                "dependencyConditions": [
                    "Succeeded"
                ]
            }
        ],
        "userProperties": [],
        "typeProperties": {
            "items": {
                "value": "@activity('Get Metadata2').output.childItems",
                "type": "Expression"
            },
            "activities": [
                {
                    "name": "Data flow1",
                    "type": "ExecuteDataFlow",
                    "dependsOn": [],
                    "policy": {
                        "timeout": "0.12:00:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                    },
                    "userProperties": [],
                    "typeProperties": {
                        "dataflow": {
                            "referenceName": "cosmos",
                            "type": "DataFlowReference",
                            "parameters": {},
                            "datasetParameters": {
                                "sink": {},
                                "source": {
                                    "filename": {
                                        "value": "@item()",
                                        "type": "Expression"
                                    }
                                }
                            }
                        },
                        "staging": {},
                        "compute": {
                            "coreCount": 8,
                            "computeType": "General"
                        },
                        "traceLevel": "Fine"
                    }
                }
            ]
        }
    }
]