infra/pipeline_definitions/Stations_Pipeline.json
[
    {
        "name": "Download Stations List",
        "type": "Copy",
        "dependsOn": [],
        "policy": {
            "timeout": "0.12:00:00",
            "retry": 0,
            "retryIntervalInSeconds": 30,
            "secureOutput": false,
            "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
            "source": {
                "type": "HttpSource",
                "httpRequestTimeout": "00:01:40"
            },
            "sink": {
                "type": "BinarySink",
                "storeSettings": {
                    "type": "AzureBlobStorageWriteSettings",
                    "copyBehavior": "FlattenHierarchy"
                }
            },
            "enableStaging": false
        },
        "inputs": [
            {
                "referenceName": "ghcnd_stations_source",
                "type": "DatasetReference",
                "parameters": {}
            }
        ],
        "outputs": [
            {
                "referenceName": "ghcnd_stations_sink",
                "type": "DatasetReference",
                "parameters": {}
            }
        ]
    },
    {
        "name": "Get Metadata1",
        "type": "GetMetadata",
        "dependsOn": [
            {
                "activity": "Download Stations List",
                "dependencyConditions": [
                    "Succeeded"
                ]
            }
        ],
        "policy": {
            "timeout": "0.12:00:00",
            "retry": 0,
            "retryIntervalInSeconds": 30,
            "secureOutput": false,
            "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
            "dataset": {
                "referenceName": "ghcnd_stations_delimited_text_sink",
                "type": "DatasetReference",
                "parameters": {}
            },
            "fieldList": [
                "childItems"
            ],
            "storeSettings": {
                "type": "AzureBlobStorageReadSettings",
                "recursive": true,
                "enablePartitionDiscovery": false
            },
            "formatSettings": {
                "type": "DelimitedTextReadSettings",
                "compressionProperties": null
            }
        }
    },
    {
        "name": "ForEach1",
        "type": "ForEach",
        "dependsOn": [
            {
                "activity": "Get Metadata1",
                "dependencyConditions": [
                    "Succeeded"
                ]
            }
        ],
        "userProperties": [],
        "typeProperties": {
            "items": {
                "value": "@activity('Get Metadata1').output.childItems",
                "type": "Expression"
            },
            "activities": [
                {
                    "name": "Load Into Staging",
                    "type": "ExecuteDataFlow",
                    "dependsOn": [],
                    "policy": {
                        "timeout": "0.12:00:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                    },
                    "userProperties": [],
                    "typeProperties": {
                        "dataFlow": {
                            "referenceName": "ghcnd_stations",
                            "type": "DataFlowReference",
                            "datasetParameters": {
                                "sink1": {},
                                "source1": {
                                    "filename": {
                                        "value": "@item().name",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "parameters": {}
                        },
                        "staging": {},
                        "compute": {
                            "coreCount": 8,
                            "computeType": "General"
                        },
                        "traceLevel": "Fine"
                    }
                }
            ]
        }
    }
]